# mdtmpl
<!--- {{ file "docs/intro.tmpl" }} --->

# Installation
Find all releases [here](https://github.com/FalcoSuessgott/mdtmpl/releases) or simply download the latest by running:

```bash
version=$(curl https://api.github.com/repos/falcosuessgott/mdtmpl/releases/latest -s | jq .name -r)
curl -OL "https://github.com/FalcoSuessgott/mdtmpl/releases/download/${version}/mdtmpl_$(uname)_$(uname -m).tar.gz"
tar xzf mdtmpl_$(uname)_$(uname -m).tar.gz
chmod u+x mdtmpl
./mdtmpl version
```

# Usage
<!--- {{ exec "echo \"$> mdtmpl -h\" && go run main.go -h" | truncate | code "bash" }} --->

# pre-commit hook
Add the following config to your `.pre-commit-config.yaml` file and adjust the `args` to your need:
<!--- {{ tmpl "docs/pre-commit.tmpl" | code "yaml" }} --->
